
.main-image {
  width: 100%;
  max-height:80vh;
  padding-bottom: 0;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    margin-left: 2em;
    height:300px;
    width: 300px;
    margin-bottom: 30px;
    margin-top: 30px;
    transition: transform .2s;

}
.responsive + .responsive {
  margin-top: 20px;
}
.photobomb{
  height:100%;
  width:100%;
}
.photo-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
.logo{
  width: 300px;
  height: 100px;
  margin: 0px auto;
  position: relative;
  top: -1px;
  opacity: 1;
  margin-left: 1em;
}
.responsive2 {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    margin-left: 2em;
    height:200px;
    width: 200px;
    margin-bottom: 30px;
    margin-top: 30px;
    transition: transform .2s;

}

.photobomb2{
  height:100%;
  width:100%;

}
.photo-div2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
.responsive2:hover {
  transform: scale(1.3);
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    margin-left: 2em;
    height:400px;
    width: 400px;
    margin-bottom: 30px;
    margin-top: 30px;
    transition: transform .2s;
}
.responsive + .responsive {
  margin-top: 20px;
}
.photobomb{
  height:100%;
  width:100%;
}
.photo-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.child-list {
height:700px;
width:5em;
overflow:hidden;
overflow-y:scroll;
margin-top: 3em;
}
.provider-list {
height:625px;
width: 5em;
overflow:hidden;
overflow-y:scroll;
margin-top: 3em;
}
.schedule-list{
  height:625px;
  width: 5em;
  overflow:hidden;
  overflow-y:scroll;
  margin-top: 3em;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.admin {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-left: 150px;
  width: 60%;
  padding-right: 70px;
  margin-top: 30px;
}
.admin2 {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  padding-right: 70px;
  margin-top: 30px;
}
.logo-hover:hover {
    transform: scale(1.2);
}
.dashboard-text{
  margin: 0 auto;
  padding-top:50px;
  text-align:left;
  width: 80%;
  margin-bottom: 10px;
  font-size: 15px;
}
.SideNav{
    cursor: -webkit-grab; cursor: grab;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: rgba(0,151,201, 0.1);
    height:100%
}
.column {
    float: left;
    width: 24.95%;

}
html, body {
  height: 100%;
}


/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;

}
@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}
